* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fca311;
  font-family: "Epilogue", sans-serif;
  width: 100%;
}

/* TOP PART */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  font-size: 0.95rem;
  font-weight: 600;
  color: #0a0a0a;
}

.header-left-part {
  display: flex;
  gap: 3rem;
}

.header-left-part ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  cursor: pointer;
}

.header-left-part div ul li svg {
  margin-left: 0.4rem;
  align-items: center;
}

#about {
  transition: all 0.4s ease-in-out;
}

#about:hover {
  color: #fff;
}

#register {
  padding: 0.7rem 1.4rem;
  border: 2px solid #0a0a0a;
  border-radius: 1rem;
  transition: all 0.4s ease-in;
}

#register:hover {
  border: 2px solid #fff;
  color: #fff;
}

.login-register ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* MID PART */

section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-left: 10rem;
}

.headers {
  padding: 3rem 0;
  font-size: 4rem;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 6.3rem;
  margin-top: 5rem;
}

.text-container p {
  width: 34rem;
  /* padding-right: 3rem; */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #0a0a0a;
  padding-bottom: 4.8rem;
}

.text-container a:link,
.text-container a:visited {
  color: #fff;
  font-size: 1.3rem;
  font-family: 500;
  text-decoration: none;
  background-color: #0a0a0a;
  padding: 1.1rem 2rem;
  border-radius: 1.2rem;
  border: 2px solid #0a0a0a;

  transition: all 0.4s ease-in;
}

.text-container a:hover {
  background-color: #fff;
  color: #0a0a0a;
  border: 2px solid #0a0a0a;
}

.logos {
  display: flex;
  padding: 0 6.1rem;
  gap: 2.5rem;
  margin-top: 10rem;
  transform: scale(1.3);
}

.image-container img {
  width: 31rem;
  margin-left: 8rem;
}

.features_container {
  width: 7rem;
  padding: 1.3rem 4.4rem;
  background-color: #fff;
  background-color: #fca311;
  position: absolute;
  top: 2rem;
  left: -4rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8rem;
  border-radius: 8px;
  border: 0.5px solid #ffffff80;
  box-shadow: 0 0 8px #ffffffa9;
  font-family: 600;
  opacity: 0.94;
  cursor: pointer;
}

.features_text {
  font-size: 0.9rem;
  display: grid;
  place-items: center;
  gap: 1.1rem;
}

.features_images {
  display: grid;
  place-items: center;
  gap: 0.7rem;
}

.features_images a {
  display: block;
}

.hidden {
  display: none;
}

.company_container {
  position: absolute;
  top: 2rem;
  left: 6rem;
  padding: 1rem 1.8rem;
  background-color: #fca311;
  line-height: 1.9;
  border-radius: 8px;
  border: 0.5px solid #ffffff80;
  box-shadow: 0 0 8px #ffffffa9;
}

.company_container a:visited,
.company_container a:link {
  text-decoration: none;
  color: #0a0a0a;
}

.company_container ul li {
  list-style: none;
  font-weight: 600;
}

.header_uls {
  position: relative;
  display: inline-block;
}
